# Database
DB_NAME=""
DB_USERNAME=""
DB_PASSWORD=""
DB_HOST=""
DB_PORT=5432

# Providers
PROVIDER_jvns=false
PROVIDER_youtube=false
PROVIDER_hc-mails=false
PROVIDER_xkcd=false
PROVIDER_lol=false

# Provider config
lol_token="RGAPI-XXXX"
hc-mails_token="th_apk_live_XXX"

# Output
discord_webhook="false" # false or webhook url
catprinter=""
slack_webhook="false" # false or webhook url